/* #import url("https://cdn.syncfusion.com/ej2/material.ss") */

.App {
  /* === Sizing === */
  width: 100vw;
  height: 100vh;

  /* === Content Alignment === */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 10px;

  color: rgb(255, 255, 255)
}
